<a href="https://colab.research.google.com/github/mahbubasharmin/Assignment/blob/main/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('Wlcome to Skill Morph!!')

Wlcome to Skill Morph!!

In [2]:
My_Name = "Mahbuba"
age = 22
favorite_color = "Black & Blue"
print("Name:", My_Name)
print("Age:", age)
print("Favorite_color: ",favorite_color)

Name: Mahbuba
Age: 22
Favorite_color:  Black & Blue

In [3]:
name = "Tasnim"
address = 'Dhaka'
age = 25
price = 99.99
is_valid = True
has_paid = False
result = None
print(type(name))
print(type(age))
print(type(price))
print(type(is_valid))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [4]:
x=7
y=5
print(x*y)
print(2*(x+y))

35
24

In [5]:
fruits = ["apple", "banana", "orange", "mango","pineapple"]
print(fruits[0])
print(fruits[-1])
print(fruits[2:5])
print(fruits)

apple
pineapple
['orange', 'mango', 'pineapple']
['apple', 'banana', 'orange', 'mango', 'pineapple']

In [6]:
fruits = ["apple", "banana","pineapple"]
fruits.append("orange")
fruits.insert(3,"mango")
fruits.remove("pineapple")
print(fruits)

['apple', 'banana', 'mango', 'orange']

In [7]:
myself = {
    "name": "Mahbuba Sharmin",
    "age": 22,
    "university": "BAUST,Saidpur",
    "hobby": "nothing"
}
print(myself["name"])
print(myself["university"])
myself["phone"]="12345678901"
myself["age"]=22

Mahbuba Sharmin
BAUST,Saidpur

In [8]:
coordinates = (10.5, 20.8)
rgb_color = (255, 0, 128)

print(coordinates[0]) # 10.5
print(rgb_color[2]) # 128
print(len(rgb_color)) # 3

10.5
128
3

In [9]:
set_a = {"red", "green", "blue"}
set_b = {"yellow", "blue", "black"}

print("Union:", set_a | set_b)
print("Intersection:", set_a & set_b)

Union: {'blue', 'green', 'yellow', 'black', 'red'}
Intersection: {'blue'}

In [10]:
warm_colors = {"red", "orange", "yellow"}
cool_colors = {"blue", "purple", "green","yellow"}

print(warm_colors)

all_colors = warm_colors | cool_colors
common_colors = warm_colors & cool_colors

print(all_colors)
print(common_colors)

{'red', 'yellow', 'orange'}
{'blue', 'purple', 'green', 'yellow', 'red', 'orange'}
{'yellow'}

In [11]:
number=int (input("Enter a number:"))
if number > 0:
    print("Positive")
elif number < 0:
    print("Negative")
else:
    print("Zero")

Enter a number:0
Zero

In [12]:
rows = 5
for i in range(rows):
    for j in range(i+1):
        print("* ", end="")
    print()

*
* *
* * *
* * * *
* * * * *

In [13]:
def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32
print(celsius_to_fahrenheit(25))

77.0

In [14]:
def rectangle_area(length=8, width=3):
    return length * width

print(rectangle_area())

24