<a href="https://colab.research.google.com/github/mahbubasharmin/Assignment/blob/main/Assignment_3_NumPy_and_Pandas_for_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv('/content/StudentsPerformance.csv')
print("First 10 rows of the dataset:")
print(df.head())
print("\nDataFrame Shape:", df.shape)
print("Column names:", df.columns.tolist())

print("\nDescriptive statistics:")
print(df.describe())

First 10 rows of the dataset:
   gender race/ethnicity parental level of education         lunch  \
0  female        group B           bachelor's degree      standard
1  female        group C                some college      standard
2  female        group B             master's degree      standard
3    male        group A          associate's degree  free/reduced
4    male        group C                some college      standard

  test preparation course  math score  reading score  writing score
0                    none          72             72             74
1               completed          69             90             88
2                    none          90             95             93
3                    none          47             57             44
4                    none          76             78             75

DataFrame Shape: (1000, 8)
Column names: ['gender', 'race/ethnicity', 'parental level of education', 'lunch', 'test preparation course', 'math score', 'reading score', 'writing score']

Descriptive statistics:
       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [2]:
import numpy as np

math_scores = df['math score'].values
reading_scores = df['reading score'].values
writing_scores = df['writing score'].values

print("Math - Mean:", np.mean(math_scores),
      "Median:", np.median(math_scores),
      "Std:", np.std(math_scores),
      "Min:", np.min(math_scores),
      "Max:", np.max(math_scores))

print("Reading - Mean:", np.mean(reading_scores),
      "Median:", np.median(reading_scores),
      "Std:", np.std(reading_scores),
      "Min:", np.min(reading_scores),
      "Max:", np.max(reading_scores))

print("Writing - Mean:", np.mean(writing_scores),
      "Median:", np.median(writing_scores),
      "Std:", np.std(writing_scores),
      "Min:", np.min(writing_scores),
      "Max:", np.max(writing_scores))

above_80_math = np.sum(math_scores > 80)
print("Students with math > 80:", above_80_math)

below_50_any = np.sum((math_scores < 50) | (reading_scores < 50) | (writing_scores < 50))
print("Students with any score < 50:", below_50_any)

overall_avg = np.mean((math_scores + reading_scores + writing_scores) / 3)
print("Overall average score across all subjects:", overall_avg)

Math - Mean: 66.089 Median: 66.0 Std: 15.155496659628149 Min: 0 Max: 100
Reading - Mean: 69.169 Median: 70.0 Std: 14.592890015346516 Min: 17 Max: 100
Writing - Mean: 68.054 Median: 69.0 Std: 15.188057281956768 Min: 10 Max: 100
Students with math > 80: 176
Students with any score < 50: 188
Overall average score across all subjects: 67.77066666666666

In [3]:
print("\nMissing Values:\n", df.isnull().sum())

print("\nInvalid Scores:",
      ((df['math score']<0)|(df['math score']>100)).sum(),
      ((df['reading score']<0)|(df['reading score']>100)).sum(),
      ((df['writing score']<0)|(df['writing score']>100)).sum())

Missing Values:
 gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

Invalid Scores: 0 0 0

In [4]:
import numpy as np
import pandas as pd

df_practice = df.copy()
print("Original missing values:")
print(df_practice.isnull().sum())

np.random.seed(42)
missing_math_idx = np.random.choice(df_practice.index, 50, replace=False)
missing_writing_idx = np.random.choice(df_practice.index, 30, replace=False)

df_practice.loc[missing_math_idx, "math score"] = np.nan
df_practice.loc[missing_writing_idx, "writing score"] = np.nan

print("\nMissing values after introducing NaNs:")
print(df_practice.isnull().sum())

median_math = df_practice["math score"].median()
mean_writing = df_practice["writing score"].mean()

df_practice["math score"] = df_practice["math score"].fillna(median_math)
df_practice["writing score"] = df_practice["writing score"].fillna(mean_writing)

print("\nMissing values after fixing:")
print(df_practice.isnull().sum())

print("\nMedian used for math:", median_math)
print("Mean used for writing:", mean_writing)

Original missing values:
gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

Missing values after introducing NaNs:
gender                          0
race/ethnicity                  0
parental level of education     0
lunch                           0
test preparation course         0
math score                     50
reading score                   0
writing score                  30
dtype: int64

Missing values after fixing:
gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

Median used for math: 66.0
Mean used for writing: 67.90824742268042

In [5]:
print("First 5 rows:")
print(df.head())

print("\nLast 5 rows:")
print(df.tail())

print("\nDataset shape (rows, columns):")
print(df.shape)

print("\nColumn names:")
print(df.columns)

print("\nData types:")
print(df.dtypes)

print("\nDataset info:")
print(df.info())

First 5 rows:
   gender race/ethnicity parental level of education         lunch  \
0  female        group B           bachelor's degree      standard
1  female        group C                some college      standard
2  female        group B             master's degree      standard
3    male        group A          associate's degree  free/reduced
4    male        group C                some college      standard

  test preparation course  math score  reading score  writing score
0                    none          72             72             74
1               completed          69             90             88
2                    none          90             95             93
3                    none          47             57             44
4                    none          76             78             75

Last 5 rows:
     gender race/ethnicity parental level of education         lunch  \
995  female        group E             master's degree      standard
996    male        group C                 high school  free/reduced
997  female        group C                 high school  free/reduced
998  female        group D                some college      standard
999  female        group D                some college  free/reduced

    test preparation course  math score  reading score  writing score
995               completed          88             99             95
996                    none          62             55             55
997               completed          59             71             65
998               completed          68             78             77
999                    none          77             86             86

Dataset shape (rows, columns):
(1000, 8)

Column names:
Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

Data types:
gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

Dataset info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB
None